<table class="table table-bordered">
  <thead>
    <tr>
      <th rowspan="2" class="text-center">Toppings</th>
      <th colspan="4" class="text-center">Pizza Size</th>
    </tr>
    <tr>
      <td class="tab-cap" *ngFor="let size of sizeList">
        {{getSizesText(size)}}
      </td>
    </tr>
    <tr>
      <th colspan="5">Veg Toppings</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vtopping of vegToppingList">
      <td>
        {{getToppingsText(vtopping)}}
      </td>
      <td class="text-center" *ngFor="let size of sizeList">
        <app-selection [size]="size" [topping]="vtopping"> </app-selection>
      </td>
    </tr>
    <tr>
      <th colspan="5">Non Veg Toppings</th>
    </tr>
    <tr *ngFor="let nvtopping of nonVegToppingList">
      <td>
        {{getToppingsText(nvtopping)}}
      </td>
      <td class="text-center" *ngFor="let size of sizeList">
        <app-selection [size]="size" [topping]="nvtopping"> </app-selection>
      </td>
    </tr>
    <tr>
      <th colspan="5" style="background-color: #dceaf6;">
        Total
      </th>
    </tr>
    <tr>
      <td>Offer</td>
      <td class="tab-col" *ngFor="let size of sizeList" style="text-align: center">
        {{getOfferText(size, getOffer(size))}}
      </td>
    </tr>
    <tr>
      <td>Sub Total</td>
      <td class="tab-col" *ngFor="let size of sizeList" style="text-align: center">
        <s *ngIf="getOfferAmount(size, getOffer(size)) > 0">
          {{getSubTotalTextWithoutDiscount(size)}}
        </s>
        <br />
        {{getSubTotalText(size, getOffer(size), getSubTotal(size))}}
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <ul>
          <li>Offer1 - 1 Medium Pizza with 2 topping = $5</li>
          <li>Offer2 - 1 Medium Pizza with 4 topping = $9</li>
          <li>
            Offer3 - 1 Large Pizza with 2 toppings = %50 discount
          </li>
          <li>Pepperoni and Barbecue chicken are counted as 2 toppings</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

Selected Toppings Count: {{getSelectedToppingsCount(sizeList)}}
